<!DOCTYPE html>
<html>
  <head>
    <title>Swifts Mailer</title>
    <style>
      #site-wrapper { margin: 0 auto; border: 1px solid #DDD; width: 90%; padding: 0 1em 1em 1em;}
    </style>
  </head>
  <body>
  <div id="site-wrapper">
    <%= yield %>
  </div>
  </body>
</html>
